{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<!-- Añade la clase para la imagen de fondo específica -->
<body class="contacto-fondo">
    <div class="contacto-container">
        <!-- Contenido del recuadro de contacto -->
        <p>Para consultas o emergencias, no dude en contactarnos:</p>
        <ul>
            <li>Teléfono: +502 1234 5678</li>
            <li>Teléfono: +502 8765 4321</li>
        </ul>
    </div>
</body>
</html>


