{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historia de la Clínica</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="navbar">
        <!-- Barra de navegación aquí -->
    </div>
    <div class="historia-clinica">
        <h2>Historia de la Clínica La Eterna Primavera</h2>
        <p>Fundada en la vibrante primavera de 1985, la Clínica La Eterna Primavera se erigió sobre el ideal de brindar un servicio de salud integral, humanizado y vanguardista. Inició como un modesto centro de atención primaria en las afueras de una ciudad en crecimiento, bajo la dirección de un visionario equipo de médicos comprometidos con la excelencia y la compasión.</p>
        <p>Con el tiempo, la clínica se distinguió por su enfoque en el bienestar holístico del paciente, integrando prácticas innovadoras y tecnología de punta en un ambiente acogedor. Su compromiso con la actualización constante y la formación continua del personal, junto con la adopción temprana de terapias avanzadas, la catapultó a la vanguardia de la medicina moderna.</p>
        <p>A medida que su reputación crecía, La Eterna Primavera se expandió para incluir especialidades como cardiología, neurología y ortopedia. Este enfoque multidisciplinario se complementó con la inauguración de un jardín terapéutico, ofreciendo un oasis de tranquilidad para la recuperación de los pacientes.</p>
        <p>Hoy, después de décadas de servicio ininterrumpido, no solo es reconocida por su excelencia clínica sino también por su iniciativa de responsabilidad social, ofreciendo programas de atención comunitaria y educación en salud. Se ha convertido en un símbolo de esperanza y renovación, manteniendo siempre viva la esencia de la primavera en su atención al prójimo.</p>
        <!-- Más contenido de la historia si es necesario -->
    </div>
</body>
</html>
